<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../hijoa-element/hijoa-element.html">
<link rel="import" href="../hijob-element/hijob-element.html">

<dom-module id="padre-element">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <section> 
      <template is="dom-if" if="{{desVisible}}">
        <h2>[[prop1]]</h2>
        <h3>Description:</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos aliquam doloremque accusantium, et veritatis sequi ab labore a iste quam incidunt, corporis ipsum, blanditiis vitae. Consequatur cum aliquid quaerat magnam unde hic quasi earum, ullam minima maxime asperiores, facere harum soluta adipisci aperiam, vel labore! Quis accusamus cum eius dolore.
        </p>
      </template>
    </section>

    <paper-button raised on-click="_isVisible1">[[boton1]]</paper-button>
    <paper-button raised on-click="_isVisible2">[[boton2]]</paper-button>

    <template is="dom-if" if="{{!listaVisible}}">
      <hijoa-element></hijoa-element>
    </template>

    <template is="dom-if" if="{{!tablaVisible}}">
      <hijob-element></hijob-element>
    </template>

    </template>

    <script>
        /**
         * `padre-element`
         * Componente padre
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PadreElement extends Polymer.Element {
            static get is() {
                return 'padre-element';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'Elemento Padre'
                    },
                    boton1: {
                        type: String,
                        value: 'Boton 1'
                    },
                    boton2: {
                        type: String,
                        value: 'Boton 2'
                    },
                    desVisible: {
                        type: Boolean,
                        value: true
                    },
                    listaVisible:  {
                        type: Boolean,
                        value: true
                    },
                    tablaVisible: {
                        type: Boolean,
                        value: true
                    },
                };
            }
            _isVisible1() {
                this.desVisible = false;
                this.listaVisible = true;
                this.tablaVisible = false;

            }
            _isVisible2() {
                this.desVisible = false;
                this.listaVisible = false;
                this.tablaVisible = true;
            }
        }

        window.customElements.define(PadreElement.is, PadreElement);
    </script>
</dom-module>